

.logo {
  margin-top: 100px;
  width: 120px;
  height: 120px;
  border-radius: 40%;
  border: 3px solid #ff3b3b;
  transition: all .7s;
}

.logo:hover {
  transform: rotate3d(2,8,3,350deg);
}

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 999;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  color: #8f981a;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all ;
  color: white;
}
.nav a:hover {
  color: #8f981a
}
.name {
  color: #27981a;
}

 header {
  text-align: center;
  background: url('../images/tech_background.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 70px;
}



@media screen and (min-width: 800px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 500px;
  }

  .nav {
    max-width: 1300px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    font-weight: 1000;
  }
}




/**********/

html {
    box-sizing: border-box
}

*,
*::after,
*::before {
    box-sizing: inherit
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
p {
  margin: 0 0 1em;
}
body {
      overflow-y: scroll;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1820px;
  margin: 0 auto;
  
}

.resume {
    position: relative;
    top: 9em;
    width: 65%;
    height: 100%;
    bottom: 0;
    left: 20%;
    right: 100%;
    background-color: #fff;
    font-family: Hind, sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.818;
}

.sidebar {
  margin-top: 1em;
  width: 10%;
}

.main {
    width: 90%;
    padding-right: 25%;
}

.tag {
  text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    color: rgb(43, 93, 240);
}

.main {
    width: 90%;
    padding-right: 10%;
}

.screen {
  width: 90%;
  height: 75%;
  max-width: 900px;
  max-height: 900px;
  top: 8%;
}

@media screen and (min-width: 260px) and (max-width: 650px) {
    

.resume {
    position: relative;
    top: 2em;
    width: 65%;
    height: 100%;
    bottom: 0;
    left: 20%;
    right: 100%;
    background-color: #fff;
    font-family: Hind, sans-serif;
    font-size: 0.850rem;
    font-weight: 300;
    line-height: 1.818;
}

.sidebar {
    margin-top: 1em;
    width: 10%;
}

.tag {
  text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    color: rgb(43, 93, 240);
  }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
    
.name {
  width: 80%;
    height: 20%;
    position: fixed;
    left: 8%;
    top: 8.5em;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    position: relative;
  }
}